blinker==1.7.0
cachelib==0.12.0
click==8.1.7
Flask==3.0.2
Flask-Session==0.7.0
gunicorn==21.2.0
importlib_metadata==7.1.0
itsdangerous==2.1.2
msgspec==0.18.6
psycopg2-binary==2.9.9
Werkzeug==3.0.1
zipp==3.18.1
