/* Font for title */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

/*This is the main stylesheet for the website. It is used to style the website and make it look more appealing to the user.*/
/*This stylesheet is linked to all the pages of the website.*/

/* Remove the default proprties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body { 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: rgb(27, 26, 26);
}

body {
  background-color: #f4f4f4;
}

/* Hero section */

#hero {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 350px;
  width: 100%;
  background: url(../images/sunshinesquad.avif) no-repeat center center/cover;
}
 /* Add zoom to the hero image  and level zoom */
#hero-image {
  animation-name: zoom-hero;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes zoom-hero {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

#hero-text h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
} */

/* Navbar */
.main-nav {
 background-color: rgb(242, 242, 160);
}

.logo-title {
    font-family: "Darumadrop One", sans-serif;
}

/* Game table
#game-table{
    width:80%;
    margin:auto;
    height:500px;
}
*/

#game-table td{
    border-style: solid;
    border-width:5px;
    border-color: black;
    width:33.33%;
    height:33.33%;
      margin:0 0 0 0;
    font-size:xx-large;
    text-align: center;
    color:white;
}

table {
    border-spacing: 0px;
}

/* Title and description */
.page-title {
  text-align: center;
  margin: auto;
  line-height: 2em;
}

.page-title h1 {
  display: inline-block;
}

.main {
  text-align: center;
}

.page-description {
  font-size: 0.8rem;
  padding: 30px;
}


/* First row */
#game-table tr:nth-child(1) td:nth-child(1),
#game-table tr:nth-child(1) td:nth-child(2),
#game-table tr:nth-child(1) td:nth-child(3){

    border-top: none
}
/* last row */
#game-table tr:nth-child(3) td:nth-child(1),
#game-table tr:nth-child(3) td:nth-child(2),
#game-table tr:nth-child(3) td:nth-child(3){

    border-bottom: none
}
/* left side */
#game-table tr:nth-child(1) td:nth-child(1),
#game-table tr:nth-child(2) td:nth-child(1),
#game-table tr:nth-child(3) td:nth-child(1){

    border-left: none
}
/* right side */
#game-table tr:nth-child(1) td:nth-child(3),
#game-table tr:nth-child(2) td:nth-child(3),
#game-table tr:nth-child(3) td:nth-child(3){

    border-right: none
}

/* News */

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.news-page {
  margin: 0 2rem;
}


.news-page .news-image {
  width: 240px;
  border: 2px solid rgb(20, 20, 20);
  border-radius: 4px;
  
}

.article-title{
  padding-top: 1rem;
  font-size: 1rem;
  color: rgb(20, 20, 20);
  max-width: 25rem;
  
}

.news-title {
  font-size: 0.8rem;
  color: rgb(20, 20, 20);
  max-width: 25rem;
}

/* emoji */


#big-emoji {
  font-size: 5rem;
  padding: 2rem;
  left: auto;




  animation: bounce 1s 3;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.emoji {
  font-size: 2.5rem;
  padding: 1rem;
  cursor: pointer;

}

.small-emojis {
  padding-top: 1rem;
}



/* Footer */
.footer {
    background-color: rgb(242, 242, 160);
    bottom: 0%;
}



/* Media queries */
@media only screen and (max-width: 480px) {
  .page-title {
    width: 270px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px),(orientation: portrait) {
  .news-page .news-image {
     width: 95%;
   }
}

@media screen and (max-width: 580px) {
    .logo-title {
        font-size: 90%;
    }
}