/* Font for title */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

/* Navbar */
.main-nav {
 background-color: rgb(242, 242, 160);
}

.logo-title {
    font-family: "Darumadrop One", sans-serif;
}

/* Game table
#game-table{
    width:80%;
    margin:auto;
    height:500px;
}
*/

#game-table td{
    border-style: solid;
    border-width:5px;
    border-color: black;
    width:33.33%;
    height:33.33%;
      margin:0 0 0 0;
    font-size:xx-large;
    text-align: center;
    color:white;
}

/* Footer */
.footer {
    background-color: rgb(242, 242, 160);
    bottom: 0%;
}

/* Media query */
@media screen and (max-width: 580px) {
    .logo-title {
        font-size: 90%;
    }
}

table {
    border-spacing: 0px;
}
