/* Font for title */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

/*This is the main stylesheet for the website. It is used to style the website and make it look more appealing to the user.*/
/*This stylesheet is linked to all the pages of the website.*/

/* Remove the default proprties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body { 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: rgb(27, 26, 26);
}

body {
  background-color: #f4f4f4;
  transition: background-color 0.5s;
}

/* Slider mood changer for background color */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 1.5rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../images/logo-smiley.png) no-repeat center center;
  cursor: pointer;
  background-size: cover;
}


/* Hero section */

#hero {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 350px;
  width: 100%;
  background: url(../images/sunshinesquad.avif) no-repeat center center/cover;
}
 /* Add zoom to the hero image  and level zoom */
#hero-image {
  animation-name: zoom-hero;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes zoom-hero {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

#hero-text h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

/* Navbar */
.main-nav {
 background-color: rgb(242, 242, 160);
}

.logo-title {
    font-family: "Darumadrop One", sans-serif;
}

/* Tic Tac Toe */
#game-table{
    width:80%;
    margin:auto;
    height:500px;
}

.hidden{
    display: none;
}

#message{
    height:50px;
}

#game-table td{
    border-style: solid;
    border-width:5px;
    border-color: black;
    width:33.33%;
    height:33.33%;
    margin:0 0 0 0;
    font-size:xx-large;
    text-align: center;
    color:white;
}

table {
    border-spacing: 0px;
}


/* Memory Game */
#memory-game{
  height:400px;
  width:75%;
  margin:auto;
  font-size:xx-large;
  max-width:500px;
  min-width:310px;
}

#prompt, #counter{
  height:20px;
  margin-bottom: 10px;
}

#found-items{
  margin-bottom: 10px;
}

#memory-game-header{
  margin-top:10px;
  margin-bottom:10px;
}

#memory-game i:hover{
  cursor: pointer;  
}

.not-found{
  color:rgb(166, 166, 166);
}

#memory-game i{
  width:80%;
  padding-top:15%;
  height:80%;
  border-width: 2px;
  border-radius:.4rem;
  border-style: solid;
  background-color: rgb(78, 114, 190);
  margin-left:10px;
  margin-right:10px;
  box-shadow: 10px 5px 5px black;
}

@media (max-width:448px){
  #memory-game i {
    margin-left:2px;
    margin-right:2px;
  }
}

@media (min-width:665px){
  #memory-game i {
    margin-left:55px;
    margin-right:55px;
  }
}
/* Emoji capture game */
.scores-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-score {
  margin-right: 20px;
  margin: 20px;
  text-align: center;
  background: #96f8c2;
  border-radius: 10px;
  padding: 20px;
  color: #000;
}

.time {
  margin-right: 20px;
  margin: 20px;
  text-align: center;
  background: #96f8c2;
  border-radius: 10px;
  padding: 20px;
  color: #000;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 80%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 252, 252);
  margin-top: 2rem;
  padding: 20px;
}

.square {
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 30px;
  background: rgb(248, 165, 165);
}

/* JavaScript */
.emoji {
  background-image: url("https://i.guim.co.uk/img/media/a1b7129c950433c9919f5670c92ef83aa1c682d9/55_344_1971_1183/master/1971.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=88ba2531f114b9b58b9cb2d8e723abe1");
  background-position: center;
  background-size: cover;
}


/* Game button styling */
.game-button {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

.game-button button {
  display: block;
  width: 200%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.game-button button:hover {
  background-color: #0056b3;
}

/* Style for Tic Tac Toe button */
.game-button:nth-of-type(1) button {
  background-image: url(../images/tictactoe.jpg);
  background-size: cover;
}

/* Style for Memory Game button */
.game-button:nth-of-type(2) button {
  background-image: url(../images/memorygame.jpg);
  background-size: cover;
}

/* Style for Emoji Catcher button */
.game-button:nth-of-type(3) button {
  background-image: url(../images/emojicatcher.jpg);
  background-size: cover;
}

/* Title and description */
.page-title {
  text-align: center;
  margin: auto;
  line-height: 2em;
}

.page-title h1 {
  display: inline-block;
}

.main {
  text-align: center;
}

.page-description {
  font-size: 0.8rem;
  padding: 30px;
}

/* Game Area */
/* Center the game area on the page */
#game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: block;
  padding-top: 5rem;
}

/* First row */
#game-table tr:nth-child(1) td:nth-child(1),
#game-table tr:nth-child(1) td:nth-child(2),
#game-table tr:nth-child(1) td:nth-child(3){

    border-top: none
}
/* last row */
#game-table tr:nth-child(3) td:nth-child(1),
#game-table tr:nth-child(3) td:nth-child(2),
#game-table tr:nth-child(3) td:nth-child(3){

    border-bottom: none
}
/* left side */
#game-table tr:nth-child(1) td:nth-child(1),
#game-table tr:nth-child(2) td:nth-child(1),
#game-table tr:nth-child(3) td:nth-child(1){

    border-left: none
}
/* right side */
#game-table tr:nth-child(1) td:nth-child(3),
#game-table tr:nth-child(2) td:nth-child(3),
#game-table tr:nth-child(3) td:nth-child(3){

    border-right: none
}

/* Mood selector */

.feeling {
  font-size: 2rem;
  padding: 1rem;
}

.mood-selector {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.emoji-radio {
  display: none;
}

.emoji-label {
  display: inline-block;
  font-size: 4rem;
  cursor: pointer;
}

/* Make emoji bigger when hovered */
.emoji-label:hover {
  transform: scale(1.5);
}

.emoji-label::before {
  content: attr(data-emoji);
  padding: 0.5rem;
}

/* News */

.news-page .news-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px; 
}

.caption {
  text-align: start;
  color: #2b2d2f;
  font-size: 0.8rem;
}

.article-title{
  padding-top: 1rem;
  font-size: 1rem;
  color: rgb(20, 20, 20);
  max-width: 25rem;
  text-align: start;
}

/* News details page */

.article-details {
  margin: 15px 5%;
}

.article-image {
  width: 100%;
}

.article-title-details{
  padding: 1rem 0;
  font-size: 1.5rem;
  color: rgb(20, 20, 20);
  max-width: 75%;
  text-align: start;
}

.article-description {
  text-align: start;
  color: #2b2d2f;
  font-size: 1rem;
}

.article-summary {
  text-align: start;
  color: #000;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

/* Hover effect to show the news title */
.card:hover  .news-title {
  display: block;
}

.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

/* Styles For funny cards */
div.card-body {
  
  border: 0.1rem solid rgb(70, 68, 68);
    box-shadow: 0.2rem 0.2rem;
    border-radius: 0.3rem; 
}

/* emoji */

#big-emoji {
  font-size: 5rem;
  padding: 2rem;
  left: auto;
  animation: bounce 1s 3;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.emoji-bt {
  font-size: 2.5rem;
  padding: 1rem;
  cursor: pointer;
}

.small-emojis {
  padding-top: 1rem;
}

/***  Gallery Page ***/
.carousel-inner img{
    height: 80vh
}

/* Footer position at the bottom of the page */
footer {
  background-color: rgb(242, 242, 160); 
  left: 0;
  bottom: 0;
  width: 100%; 
  bottom: 0;
}

/* Footer styling icons */
footer i {
  font-size: 2rem;
  padding: 0 5rem;  
}

/* Contributors */
.circular-img {
  border-radius: 50%;
}

.contributors-ul {
  list-style: none;
}

/* Media queries */
@media only screen and (max-width: 480px) {
  .page-title {
    width: 270px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px),(orientation: portrait) {
  .news-page .news-image {
     width: 95%;
   }
   .mb-4 {
    font-size: 2rem;
   }
   #carusel-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 580px) {
    .logo-title {
        font-size: 90%;
    }
}
}
