{% extends "base.html" %}
{% block content %}
<!--<section class="article-details">-->
<!--    <h1 class="article-title-details">{{ article.title }}</h1>-->

<!--    <p class="article-description">-->
<!--        {{ article.description }}-->
<!--    </p>-->


<!--</section>-->
<section class="article-details">
    <div class="row">
            <div class="col d-flex order-0">
                <!-- Back Button -->
                <button class="btn btn-light" onclick="window.history.back()">Back</button>
            </div>
        </div>

    <figure>
        <img class="article-image" src="{{article.imageUrl}}" alt="{{article.title}}">
        <figcaption class="caption">{{article.authorsByline}} - {{ article.source.domain }}</figcaption>
    </figure>
<div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom text-left">
            Article
          </h3>
        <div class="blog-post">
            <h2 class="blog-post-title">{{article.title}}</h2>
            <p class="blog-post-meta">{{ article.pubDate   }} by <a >{{article.authorsByline}}</a></p>
            <p class="article-summary">
                {{article.summary}}
                {{ article.content }}

            </p>
           </div><!-- /.blog-post -->
        </div>
        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Summery</h4>
            <p class="mb-0"> {{article.description}}</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Keywords</h4>
            <ol class="list-unstyled mb-0">
                {% for keyword in  article.keywords %}
                <li>{{keyword.name}}</li>
                {% endfor %}
            </ol>
          </div>

<!--          <div class="p-3">-->
<!--            <h4 class="font-italic">Categories</h4>-->
<!--            <ol class="list-unstyled">-->
<!--              {% for cate in  article.get('categories',[]) %}-->
<!--                <li>{{cate.name}}</li>-->
<!--                {% endfor %}-->
<!--            </ol>-->
<!--          </div>-->
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->
</section>
{% endblock %}