{% extends "base.html" %}
{% block content %}
<a href="{{url_for('game')}}" class="btn btn-warning go-back-game">Back to game selection</a>
<main>
    <div class="scores-container">
        <div class="total-score">
          <h2>Your Score:</h2>
          <h2 id="score">0</h2>
        </div>
  
        <div class="time">
          <h2>Time left:</h2>
          <h2 id="time-left">60</h2>
        </div>
      </div>
  
      <div class="grid-container">
        <div class="grid">
          <div class="square" id="1"></div>
          <div class="square" id="2"></div>
          <div class="square" id="3"></div>
          <div class="square" id="4"></div>
          <div class="square" id="5"></div>
          <div class="square" id="6"></div>
          <div class="square" id="7"></div>
          <div class="square" id="8"></div>
          <div class="square" id="9"></div>
          <div class="square" id="10"></div>
        </div>
      </div>
</main>

{% endblock %}


{% block contentscript %}

<script src="../static/js/emoji-catcher.js"></script>

{% endblock %}