{% extends "base.html" %}
{% block content %}
<main>
    <div class="row flex-container">
        <div class="col">
            <a href="{{url_for('tic_tac_toe')}}" class="game-button">
                <button>
                    Tic Tac Toe
                </button>
        </div>
        <div class="col">
            </a>
            <a href="{{url_for('memory_game')}}" class="game-button">
                <button>
                    Memory Game
                </button>
            </a>
        </div>
        <div class="col">
            <a href="{{url_for('emoji_catcher')}}" class="game-button">
                <button>
                    Emoji Catcher
                </button>
            </a>
        </div>
    </div>
</main>

{% endblock %}
