{% extends "base.html" %}
<div class="main">
{% block content %}
<h1 class="mt-3 mt-lg-5">Play Games, Feel Alive!</h1>
<div class="container-game mt-lg-5">
    <div class="row d-flex justify-content-center py-3 mt-3">
        <div class="col-12 col-md-7 col-lg-4 py-3 mb-2 mt-lg-5">
            <img src="{{ url_for('static', filename='images/tictactoe.jpg') }}" alt="" class="col-12">
            <br>
            <a href="{{url_for('tic_tac_toe')}}" class="btn btn-warning">Tic Tac Toe</a>
        </div>
        <div class=" col-12 col-md-7 col-lg-4 py-3 mb-2 mt-lg-5">
            <img src="{{ url_for('static', filename='images/memorygame.jpg') }}" alt="" class="col-12">
            <br>
            <a href="{{url_for('memory_game')}}" class="btn btn-warning">Memory Game</a>
        </div>
        <div class="col-12 col-md-7 col-lg-4 py-3 mb-2 mt-lg-5">
            <img src="{{ url_for('static', filename='images/emojicatcher.jpg') }}" alt="" class="col-12">
            <br>
            <a href="{{url_for('emoji_catcher')}}" class="btn btn-warning">Emoji Catcher</a>
        </div>
    </div>
</div>
{% endblock %}
</div>
