{% extends "base.html" %}
{% block content %}
<h1>testing the home page</h1>

<!--ToDo : // check if there is no results or error then show message -->

	{% for item in result %}
        <img src="{{item.imageUrl}}" width ="350px" alt="">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
<!--	<li>{{item}}</li>-->
	{% endfor %}
    {% set valid_page = page is not none %}
    {% if total_pages > 1 %}
        <div>
            {% if valid_page and page > 1 %}
                <a href="/{{ page - 1 }}">Previous</a>
            {% endif %}

            Page {{ page }} of {{total_pages}}

            {% if valid_page and page < total_pages %}
                <a href="/{{  page + 1 }}">Next</a>
            {% endif %}
        </div>
    {% endif %}


{% endblock %}
