{% extends "base.html" %}
{% block content %}
<main>
    <table id="memory-game">
        <tr>
            <td class="game-card"><i id="fa-face-smile" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-face-laugh" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-sun"  class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-heart" class="fa-solid fa-question"></i></td>
        </tr>
        <tr>
            <td class="game-card"><i id="fa-face-grin-squint-tears" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i  id="fa-heart" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-cat" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-hand-peace" class="fa-solid fa-question"></i></td>
        </tr>
        <tr>
            <td class="game-card"><i  id="fa-face-grin-squint-tears" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-dog" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i   id="fa-face-smile" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i  id="fa-hand-peace"class="fa-solid fa-question"></i></td>
        </tr>
        <tr>
            <td class="game-card"><i  id="fa-cat"class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-face-laugh" id="fa-dog" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-sun" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-dog" class="fa-solid fa-question"></i></td>
        </tr>
    </table>
</main>

{% endblock %}


{% block contentscript %}

<script src="../static/js/memory-game.js"></script>

{% endblock %}