{% extends "base.html" %}
{% block content %}
<a href="{{url_for('game')}}" class="btn btn-warning go-back-game">Back to game selection</a>
<main>
    <div class="game-area">
    <h3 id="memory-game-header">Click the cards below to match the happy icons!</h3>
    <div id="prompt"> </div><h4 id="counter"></h4>
    <table id="memory-game">
        <tr>
            <td class="game-card"><i id="fa-face-smile-0" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-face-laugh-0" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-sun-0"  class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-heart-0" class="fa-solid fa-question"></i></td>
        </tr>
        <tr>
            <td class="game-card"><i id="fa-face-grin-squint-tears-0" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-heart-1" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-cat-0" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-hand-peace-0" class="fa-solid fa-question"></i></td>
        </tr>
        <tr>
            <td class="game-card"><i id="fa-face-grin-squint-tears-1" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-dog-0" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-face-smile-1" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-hand-peace-1"class="fa-solid fa-question"></i></td>
        </tr>
        <tr>
            <td class="game-card"><i id="fa-cat-1" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-face-laugh-1" id="fa-dog" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-sun-1" class="fa-solid fa-question"></i></td>
            <td class="game-card"><i id="fa-dog-1" class="fa-solid fa-question"></i></td>
        </tr>
    </table>
    <div id="found-items">
        <p><span id="found-items-score">8</span> Items left to find:</p>
        <i id="fa-face-smile" class="not-found fa-xl fa-solid fa-face-smile"></i>
        <i id="fa-face-laugh" class="not-found fa-xl fa-solid fa-face-laugh"></i>
        <i id="fa-face-grin-squint-tears" class="not-found fa-xl fa-solid fa-face-grin-squint-tears"></i>
        <i id="fa-dog" class="not-found fa-xl fa-solid fa-dog"></i>
        <i id="fa-cat" class="not-found fa-xl fa-solid fa-cat"></i>
        <i id="fa-sun" class="not-found fa-xl fa-solid fa-sun"></i>
        <i id="fa-hand-peace" class="not-found fa-xl fa-solid fa-hand-peace"></i>
        <i id="fa-heart" class="not-found fa-xl fa-solid fa-heart"></i>
    </div>
</div>
</main>
{% endblock %}


{% block contentscript %}

<script src="../static/js/memory-game.js"></script>

{% endblock %}