{% extends "base.html" %}
{% block content %}
<a href="{{url_for('game')}}" class="btn btn-warning go-back-game">Back to game selection</a>
<main>
    <div class="game-area">
        <h1>Tic Tac Toe</h1>
        <h2 id="message"></h2>
        <h2>Score:<span id="score">0</span></h2>
        <button id='new-game'>New Game</button>
        <table id="game-table">
            <tr>
                <td id='0-0' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
                <td id='0-1' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
                <td id='0-2' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
            </tr>
            <tr>
                <td id='1-0' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
                <td id='1-1' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
                <td id='1-2' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
            </tr>
            <tr>
                <td id='2-0' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
                <td id='2-1' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
                <td id='2-2' class="game-cell"><i class="fa-2xl fa-solid"></i></td>
            </tr>
        </table>
    </div>
</main>

{% endblock %}


{% block contentscript %}

<script src="../static/js/tic-tac-toe.js"></script>

{% endblock %}